.layout {
}

.contentContainer {
  min-height: calc(100vh - 140px);
}

.checkoutBody {
  padding: 50px;
}

.cardsContainer {
  display: flex;
}

.formsContainer {
  flex: 1 65%;
}

.summaryContainer {
  margin-left: 20px;
  flex: 0 30%;
}