@import '../colors';
@import '../grid';
@import '../layout';

.fullWidthContainer {
  @extend %full-width-container;
  background-color: $white;
}

.checkoutContent {
  max-width: 1220px;
  box-sizing: border-box;
  margin: 0 auto;
}

.layout {
  min-width: 320px;
}

.contentContainer {
  min-height: calc(100vh - 140px);
}

.checkoutBody {
  padding: 20px 15px;
  box-sizing: border-box;

  @include tablet-desktop {
    padding: 50px 40px;
  }

  @include desktop-hd {
    padding: 0;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  @include desktop {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.formsContainer {
  flex: 1 100%;

  @include desktop {
    flex: 1 65%;
  }
}

.summaryContainer {
  flex: 0 30%;
  margin: 20px 0 30px 0;

  @include desktop {
    margin: 0 0 0 20px;
  }
}

.loading {
  display: block;
  margin: 100px auto;
  width: 64px;
  height: 64px;
}
