@import '../colors';

.button {
  border-color: transparent;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.primaryButton {
  @extend .button;

  background-color: $green;
  color: $white;
}

.secondaryButton {
  @extend .button;

  background-color: $yellow;
  color: $black;
}