.caretDown {
  position: relative;
  width: 20px;
  height: 10px;
}

.caretDown:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 10px solid #232222;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.caretDown:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 0;
  border-top: 8px solid #ffffff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.caretUp {
  position: relative;
  width: 20px;
  height: 10px;
}

.caretUp:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 10px solid #232222;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.caretUp:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  border-bottom: 8px solid #ffffff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}