@import '../colors';
@import '../grid';

%cardContainer {
  box-sizing: content-box;
  padding: 15px;
  margin: 10px 0;

  @include tablet-desktop {
    padding: 15px 30px;
  }
}

.cardCompleted {
  @extend %cardContainer;
  border-left: 8px solid $green;
}

.cardActive {
  @extend %cardContainer;
  border-left: 8px solid $yellow-dark;
}

.cardDisabled {
  @extend %cardContainer;
  border-left: 8px solid $grey;
  opacity: .5;
}

.title {
 font-size: 24px;
 font-weight: bold;
}

.addressInputContainer {
  flex: 70% 0;

  @include tablet {
    flex: 70% 0 !important;
  }

  @include desktop {
    flex: 70% 0 !important;
  }
}

.cityInputContainer {
  flex: 60% 0;

  @include tablet {
    flex: 60% 0;
  }

  @include desktop {
    flex: 60% 0;
  }
}

.submit {
  margin-top: 20px;
}

.textInputsContainer {
  background-color: $grey;
  padding: 20px;
  margin-top: 20px;
}

.inputSubtitle {
  margin: 0;
}

.submit {
  margin-top: 20px;
}

.yearInput {
  width: 60px;
}

.summaryLine {
  color: $black;
  font-weight: normal;
}

.buttonModify {
  border: none;
  color: $grey-black;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: normal;
  font-size: 16px;
  margin: 20px 0;
  padding: 0;
}

.summaryLineTitle {
  margin: 15px 0 5px 0;
  font-size: 16px;
  font-weight: bold;
}