@import '../colors';
@import '../grid';
@import '../layout';
@import '../titles';

.fullWidthContainer {
  @extend %full-width-container;
  background-color: $white;
}

.container {
  @extend %content-container;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $grey-black;

  @include tablet-desktop {
    flex-wrap: nowrap;
  }
}

.titleContainer {
  flex: 100%;
  text-align: center;

  @include tablet-desktop {
    text-align: left;
    flex: 50%;
  }
}

.title {
  @extend %title;

  text-align: left;
  margin: 0;

  @include tablet-desktop {
    text-align: center;
    text-transform: uppercase;
    display: inline;
  }
}

.subtitle {
  text-align: left;
}

.underlinedTitle {
  cursor: pointer;
  text-decoration: underline;
}

.callInfoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;

  @include desktop {
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.callInfo {
  flex: 1 0 100%;
  font-weight: bold;
  justify-content: flex-start;
  text-align: left;
  margin: 10px 0;

  @include desktop {
    flex: 1;
    margin: 0 20px;
    text-align: left;
  }
}

.callInfoTitle {
  display: block;
  margin-bottom: 5px;
}

.callInfoNumber {
  font-size: 24px;
  display: block;
}

.callInfoTime {
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.callInfoTimeLabel {
  font-weight: 300;
}

.formContainer {
  padding: 20px;
  background-color: $grey;
  margin: 20px 0;
  flex: 100%;
  text-align: center;

  @include desktop {
    text-align: left;
    flex: 50%;
    margin: 20px 0;
  }
}

.inputLabel {
  display: block;
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
}

.input {
  display: block;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.textArea {
  display: block;
  flex: 100% 1;
  min-height: 200px;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.inputContainer {
  display: inline-block;
  position: relative;
  flex: 100% 0;
  margin: 5px 0;
  text-align: left;

  @include tablet {
    flex: 51% 0;
  }

  @include desktop {
    flex: 35% 0;
  }
}

.button {
  display: block;
  margin-top: 20px;
}

.inputContainerSpace {
  @include desktop {
    margin-left: 40px;
  }
}
