@import '../colors';
@import '../grid';
@import '../layout';
@import '../titles';

.fullWidthContainer {
  @extend %full-width-container;
  background-color: $white;
}

.container {
  @extend %content-container;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $grey-black;

  @include tablet-desktop {
    flex-wrap: nowrap;
  }
}

.titleContainer {
  flex: 100%;
  text-align: center;

  @include tablet-desktop {
    text-align: left;
    flex: 50%;
  }
}

.title {
  @extend %title;
  text-transform: uppercase;
  display: inline;
}

.underlinedTitle {
  cursor: pointer;
  text-decoration: underline;
}

.callInfoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 20px;
}

.callInfo {
  font-weight: bold;
  margin-left: 20px;
}

.callInfoTitle {
  display: block;
  margin-bottom: 5px;
}

.callInfoNumber {
  font-size: 24px;
  display: block;
}

.callInfoTime {
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.callInfoTimeLabel {
  font-weight: 300;
}

.formContainer {
  padding: 20px;
  background-color: $grey;
  margin-left: 20px;
  margin-top: 20px;
  flex: 100%;
  text-align: center;

  @include desktop {
    text-align: left;
    flex: 50%;
    margin-top: 0;
  }
}

.inputLabel {
  display: block;
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
}

.input {
  display: block;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.textArea {
  display: block;
  flex: 100% 1;
  min-height: 200px;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
}

.inputContainer {
  display: inline-block;
  position: relative;
  flex: 51% 0;
  margin: 5px 0;
  text-align: left;

  @include desktop {
    flex: 35% 0;
  }
}

.button {
  display: block;
  margin-top: 20px;
}

.inputContainerSpace {
  @include desktop {
    margin-left: 40px;
  }
}
