@import '../colors';
@import '../layout';

.fullWidthContainer {
  @extend %full-width-container;
  background-color: $grey;
}

.container {
  @extend %content-container;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.titleContainer {
  margin-top: 20px;
}

.title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  color: $grey-black;
  display: inline;
}

.tab {
  padding: 15px;
  box-sizing: content-box;
  position: relative;
  display: block;
  font-weight: 500;
  color: #40474c;
  cursor: pointer;
}

.openedTab {
  @extend .tab;
  border-bottom: 1px solid #D7D7D7;
}

.collapsableContent {
  padding: 0 15px;
}

.faqsContainer {
  max-width: 800px;
  margin-top: 25px;
  text-align: left;
}

.faqCard {
  border-radius: 2px;
  border: 1px solid $grey-dark;
  margin: 5px 0;
  background-color: $white;
}
