@import '../colors';
@import '../grid';
@import '../layout';


.fullWidthContainer {
  @extend %full-width-container;
}

.navContainer {
  @extend %content-container;
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  color: $grey-black;

  @include tablet-desktop {
    justify-content: space-between;
  }
}

.copyItem {
  padding: 40px 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet-desktop {
    padding: 40px 0;
  }
}

.listItem {
  display: block;
  margin: 10px 0;

  @include tablet-desktop {
    display: inline-block;
    margin: 0 10px;
  }
}

.link {
  text-transform: uppercase;
  cursor: pointer;
  color: $grey-black;
  text-decoration: none;
}