@import '../colors';
@import '../grid';
@import '../layout';
@import '../titles';

.fullWidthContainer {
  @extend %full-width-container;
}

.container {
  @extend %content-container;
  padding: 60px 20px;
  color: $grey-black;
  position: relative;
}

.anchor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 1;
}

.titleContainer {
  display: block;
  text-align: center;
}

.title {
  @extend %title;
  margin-top: 0;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 300;
}

.mainFeaturueContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.imageBig {
  flex: 100%;
  height: 200px;
  background-color: $grey;

  @include tablet-desktop {
    flex: 40% 0;
  }
}

.imageSmall {
  height: 48px;
  width: 48px;
}

.imageBigText {
  flex: 100%;
  line-height: 1.4;

  @include tablet-desktop {
    flex: 50%;
    margin-left: 20px;
  }
}

.divider {
  margin: 30px 0;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;

  @include desktop {
    flex-wrap: nowrap;
  }

  @include tablet-desktop {
    justify-content: space-between;
  }
}

.feature {
  margin: 10px 0;

  @include tablet {
    flex: 45% 0;
  }

  @include tablet-desktop {
    margin: 0 10px;
  }
}

.feature:first-of-type {
  margin: 10px 0;

  @include tablet-desktop {
    margin: 0;
  }
}

.featureTitleSmall {
  font-weight: 700;
  margin: 12px 0;
}

.imageSmallText {
  line-height: 1.4;
}