@import '../colors';
@import '../grid';
@import '../layout';
@import '../titles';

.fullWidthContainer {
  @extend %full-width-container;
  background-color: $yellow;
}

.container {
  @extend %content-container;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.titleContainer {
  @include tablet-desktop {
    margin-top: 20px;
  }
}

.title {
  @extend %title;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.contentText {
  text-align: center;
}

.tabContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.tabList {
  list-style: none;
  flex: 100% 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;

  @include tablet-desktop {
    flex-wrap: nowrap;
  }
}

.tab {
  display: block;
  background-color: $white;
  color: $grey-black;
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 2px;
  flex: 100% 1;
  margin: 0 auto;

  @include tablet-desktop {
    display: inline-block;
    flex: 70% 0;
  }
}

.tabPanel {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

 @include tablet-desktop {
  flex-wrap: nowrap;
  justify-content: left;
 }
}

.selectedTab {
  background-color: $grey-black;
  color: white;
}

.tariffCard {
  padding: 20px 30px;
  background-color: $white;
  border-radius: 5px;
  text-align: center;
  flex: 100% 1;
  margin-bottom: 20px;

  @include tablet-desktop {
    flex: 30% 0;
    margin: 0 10px;
  }
}

.tariffCard:last-of-type {
  margin: 0;
}

.tariffCard:first-of-type {
  @include tablet-desktop {
    margin: 0;
  }
}

.tariffTitleContainer {
  text-align: center;
}

.tariffTitle {
  font-weight: bold;
  margin: 2px 0;
  line-height: 1;
  text-transform: uppercase;
}

.tariffTitle p {
  margin: 5px 0;
}

.priceContainer {
  padding: 20px 0;
}

.tariffPrice {
  font-size: 40px;
  font-weight: 700;
}

.button {
  display: block;
}

.linkContainer {
  margin-top: 10px;
  text-align: center;
}
