@import '../grid';

.nav {
  border-bottom: 1px solid #dddddd;
  margin: 0;
}

.logo {
  width: 152px;
  height: 42px;

  @include desktop {
    width: 162px;
    height: 52px;
  }
}

.mainMenuContainer {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-desktop {
    padding: 20px 40px;
  }

  @include desktop-hd {
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.phoneCallToAction {
  display: none;

  @include desktop {
    display: inline-block;
    margin-right: 20px;
  }
}

.callMeButton {
  display: none;

  @include desktop {
    display: inline-block;
  }
}

.callMeButtonMobile {
  display: inline-block;
  padding: 10px 15px !important;

  @include desktop {
    display: none;
  }
}
