@import '../colors';
@import '../grid';
@import '../layout';


.nav {
  @extend %full-width-container;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: $white;
  width: 100%;
  min-width: 100%;
}

.topMenuContainer {
  @extend %full-width-container;
  background-color: $grey;
}

.mainMenuContainer {
  @extend %full-width-container;
}

.topMenuContent {
  @extend %content-container;
}

.topMenu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: $grey-black;

  @include tablet-desktop {
    padding: 0 20px 0 40px;
    justify-content: flex-end;
  }
}

.topMenuItem {
  display: none;

  @include tablet-desktop {
    display: inline;
    padding: 10px 0;
  }
}

.topMenuItemMobile {
  display: inline;
  padding: 5px 10px;
  flex: 50%;

  @include tablet-desktop {
    display: none;
  }
}

.topMenuItem2 {
  display: none;

  @include tablet-desktop {
    display: inline;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.topMenuItem2Mobile {
  display: inline;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.15);
  flex: 50%;

  @include tablet-desktop {
    display: none;
  }
}

.mainMenuContent {
  @extend %content-container;

  align-items: center;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  margin: 0 auto;

  @include tablet-desktop {
    justify-content: space-between;
    padding: 5px 20px;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.mainMenuContentTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $grey-black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.mainMenuContentTabLink {
  margin-right: 10px;
}

Caret {
  top: 3px;
}

.mainMenu {
  list-style: none;
  background-color: white;
  display: none;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;

  @include desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0; left: 0;
    flex-direction: row;
    visibility: visible;
    margin: 0 0 0 10px;
  }
}

.openMobileMenu {
  display: flex;
}

.logo {
  height: 42px;
  width: 152px;

  @include tablet-desktop {
    height: 72px;
    width: 182px;
  }
}

.topMenuLink {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.listItem {
  margin: 15px;

  @include desktop {
    margin: 0 0 0 30px;
  }
}

.menuLink {
  color: $grey-black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.topNavigation {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #dfdfdf;
  cursor: pointer;
  z-index: 5;
  transform: translate3d(0, 500px, 0);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(.87, -.41, .19, 1.44);
}

.callMeButton {
  display: none;

  @include desktop {
    display: block;
  }
}

.callMeButtonTablet {
  display: none;

  @include tablet {
    display: inline-block;
    margin-left: 20px;
  }

  @include desktop {
    display: none;
  }
}

.topNavigation.displayed {
  transform: translate3d(0, 0, 0);
}

.linkActive {
  color: $black;
  font-weight: 900;
}