@import '../colors';
@import '../grid';

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 1280px;
  top: 0;
  z-index: 2;
  background-color: $white;
  width: 100%;
}

.topMenu {
  list-style: none;
  display: none;
  justify-content: flex-end;
  background-color: $grey;
  margin: 0;
  padding: 0 40px;
  font-size: 14px;
  color: $grey-black;

  @include tablet-desktop {
    display: flex;
  }
}

.topMenuItem {
  padding: 10px 0;
}

.topMenuItem2 {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.15);
}

.mainMenuContainer {
  display: flex;
  justify-content: center;
  padding: 10px 40px;

  @include tablet-desktop {
    justify-content: flex-start;
  }
}

.mainMenu {
  list-style: none;
  background-color: white;
  display: flex;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;

  @include desktop {
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0; left: 0;
    flex-direction: row;
    visibility: visible;
    margin: 0 0 0 10px;
  }
}

.logo {
  height: 72px;
  width: 182px;
}

.topMenuLink {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
}

.listItem {
  margin: 15px;

  @include desktop {
    margin: 0 0 0 30px;
  }
}

.menuLink {
  color: $grey-black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.topNavigation {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #dfdfdf;
  cursor: pointer;
  z-index: 5;
  transform: translate3d(0, 500px, 0);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(.87, -.41, .19, 1.44);
}

.topNavigation.displayed {
  transform: translate3d(0, 0, 0);
}

.linkActive {
  color: $black;
  font-weight: 900;
}