.priceContainer {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.price {
  font-size: 64px;
  line-height: 1;
}

.textContainer {
  font-size: 14px;
  font-weight: 700;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
}

.commaPrice {
  font-size: 16px;
  line-height: 1;
  text-align: left;
}

.currency {
  font-size: 14px;
  margin: 3px 0;
  line-height: 1;
  text-align: left;
}

.iva {
  font-weight: 100;
  line-height: 1;
  margin-bottom: 5px;
  text-align: left;
}