//
// Custom grid breakpoints
//
$grid-breakpoints: (
    xs: 0,
    sm: 320px,
    md: 680px, // min tablet width
    lg: 980px, // min desktop width
    xl: 1220px
) !default;

@mixin mobile {
  @media (max-width: #{map-get($grid-breakpoints, md) - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: #{map-get($grid-breakpoints, lg) - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    @content;
  }
}

@mixin desktop-hd {
  @media (min-width: map-get($grid-breakpoints, xl)) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{map-get($grid-breakpoints, lg) - 1px}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content;
  }
}

