@import 'colors';
@import 'titles';
@import '../grid';

%modal-title {
  @extend %title;
  color: $yellow;
  font-size: 29px;
  text-align: center;
}

%modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 29px;
  font-weight: 300;
  cursor: pointer;
}

%modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 50;
  cursor: pointer;
  transition: opacity 150ms ease-out;
}

%modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  color: $white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 30px;
  text-align: left;
  z-index: 51;

  @include tablet {
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: auto;
  }

  @include desktop {
    top: 15%;
    left: 30%;
    right: 30%;
    bottom: auto;
  }

  @include desktop-hd {
    top: 15%;
    left: 35%;
    right: 35%;
    bottom: auto;
  }
}